[Server]
# Accept connections on this subnet (default accepts on all)
HttpHost = "0.0.0.0"

# IP ports to listen on
HttpPort = 9000
# HttpsPort = 9001

# HTTPS configuration - TLS server certificate full chain and key
# If these are not specified, the TLS server will not be started
# TlsServerCertificateFile = ""
# TlsServerPrivateKeyFile = ""

# Advertise URLs relative to this server name and path
# The default is to look this up from incoming request headers
# Note: do not add a trailing slash.
# UrlBase = "http://localhost:9000"

# Optional path to add to the service base URL
# If set, all routes will be prefixed with this path
# (e.g. "/duckdb_featureserv", "/services/duckdb_featureserv", etc.)
# Note: No trailing slash is necessary, duckdb_featureserv automatically
# adds a trailing slash for you.
# BasePath = "/"

# String to return for Access-Control-Allow-Origin header
# CORSOrigins = "*"

# set Debug to true to run in debug mode (can also be set on cmd-line)
# Debug = true

# Read html templates from this directory
AssetsPath = "./assets"

# Maximum duration for reading entire request (in seconds)
ReadTimeoutSec = 5

# Maximum duration for writing response (in seconds)
# Also controls maximum time for processing request
WriteTimeoutSec = 30

# Disable HTML UI routes (default is false)
# DisableUi = false

# Database functions allowed in the transform query parameter
#TransformFunctions = [
#    "ST_Boundary", "ST_Centroid", "ST_Envelope", "ST_PointOnSurface",
#    "ST_Buffer", "ST_ConvexHull", "ST_MinimumBoundingCircle", "ST_OffsetCurve",
#    "ST_GeneratePoints", "ST_Simplify", "ST_ChaikinSmoothing", "ST_LineSubstring"
#]

[Database]
# DuckDB database file path
# DUCKDBFS_DATABASE_PATH environment variable takes precedence if set.
# DatabasePath = "/path/to/your/database.db"

# Publish only these schemas and tables (default is to publish all spatial tables)
# TableIncludes = [ "public", "priv_schema.tbl" ]

# Do not publish these schemas and tables
# TableExcludes = [ "priv_schema", "public.my_tbl" ]

# Publish functions from these schemas (default is publish postgisftw)
# FunctionIncludes = [ "postgisftw", "schema2" ]

[Paging]
# The default number of features in a response
LimitDefault = 20
# Maxium number of features in a response
LimitMax = 10000

[Metadata]
# Title for this service
#Title = "duckdb_featureserv"
# Description of this service
#Description = "Feature Server for DuckDB Spatial"

[Website]
# URL for the map view basemap
BasemapUrl = "http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"

[DuckDB]
# Enable DuckDB HTTP server (default: false)
EnableHttpServer = false
# Port for the DuckDB HTTP server (default: 9001)
Port = 9001
# API key for authentication (leave empty for no authentication)
#ApiKey = "supersecret"
